<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
	<title>Holt's Dogs - The Best Hot Dogs You'll Ever Eat</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/tooltipster.css">
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<!-- favicon -->
	<link rel="icon" href="favicon.ico">
</head>
<body>
	
	<main>
		
		<!--HEADER-->
		<header>
			<div id="main-nav-wrap">
				<nav id="main-nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li class="sub-items"><a href="/menu">Menu</a>
							<ul>
								<li><a href="/menu/dogs">Dogs</a></li>
								<li><a href="/menu/sausages">Sausages</a></li>
								<li><a href="/menu/sandwiches">Sandwiches</a></li>
								<li><a href="/menu/burgers">Burgers</a></li>
								<li><a href="/menu/sides">Sides</a></li>
								<li><a href="/menu/drinks">Drinks</a></li>
							</ul>
						</li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/our-story">Our Story</a></li>
					</ul>	
					<ul class="responsive-nav">
						<li><a href="/">Home</a></li>
						<li class="sub-items"><a href="/menu">Menu</a>
							<ul>
								<li><a href="/menu/dogs">Dogs</a></li>
								<li><a href="/menu/sausages">Sausages</a></li>
								<li><a href="/menu/sandwiches">Sandwiches</a></li>
								<li><a href="/menu/burgers">Burgers</a></li>
								<li><a href="/menu/sides">Sides</a></li>
								<li><a href="/menu/drinks">Drinks</a></li>
							</ul>
						</li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/our-story">Our Story</a></li>
					</ul>	
					<a href="#" id="pull"></a>  
				</nav>
			</div>
			<figure>
				<img src="/images/main-logo.png" alt="Holt's Dogs Logo">
				<figcaption>Holt's Dogs</figcaption>
			</figure>
		    <label for="toggle">Search</label>
			<input type="checkbox" id="toggle" style="display: none;"/>
			<div class="search">
				<form action="/search" method="get">
					<input type="text" name="q" placeholder="Search Term">
					<button type="submit"><i class="fa fa-search"></i></button>
				</form>
			</div>
		</header>
		<!--/HEADER-->

        {% block content %}{% endblock %}

		<!--FOOTER-->
		<footer>
			<section id="info">
				<article>
					<h5>Holt's Dogs</h5>
					<p>Using Matrix for content builders is a very common pattern but experience has found that it lends to content bloat and can become quickly unwieldy with extensive schemas containing numerous blocks. This content modeling approach can also result in decreased entry save performance and increased page processing load times. An alternative to this approach is to structure your content blocks/components as Entries in their own structure and feed them to page entries using relationship fields. This allows a content editor to reuse content blocks in various entries in the site while also allowing performance and content organization improvements. Craft 4 improvements in entry relationship fields, Collections, and the slideout editing menu also enhances and improves this content modeling approach.</p>
					<ul class="c-info">
						<li>732 Evergreen Terrace - Springfield, USA</li>
						<li>justin@justinholt.com</li>
						<li>(1) 704 - 369 - 4557</li>
					</ul>
				</article>

				<!--OPENING HOURS-->
				<article>
					<h5>Opening Hours</h5>
					<article class="op-hours">
						<div>
							<h6>Monday</h6>
							<h6>11:00AM - 9:00PM</h6>
						</div>
						<div>
							<h6>Tuesday</h6>
							<h6>11:00AM - 9:00PM</h6>
						</div>
						<div>
							<h6>Wednesday</h6>
							<h6>11:00AM - 9:00PM</h6>
						</div>
						<div>
							<h6>Thursday</h6>
							<h6>11:00AM - 9:00PM</h6>
						</div>
						<div>
							<h6>Friday</h6>
							<h6>11:00AM - 11:00PM</h6>
						</div>
						<div>
							<h6>Saturday</h6>
							<h6>11:00AM - 11:00PM</h6>
						</div>
						<div>
							<h6>Sunday</h6>
							<h6>11:00AM - 7:00PM</h6>
						</div>
					</article>
				</article>
				<!--/OPENING HOURS-->
			</section>
			<div id="copy-wrap">
			<section id="copy">
				<h5><span>Holt's Dogs |</span> All Rights Reserved</h5>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/menu">Menu</a></li>
						<li><a href="/our-story">Our Story</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</nav>
			</section>
			</div>
		</footer>
		<!--/FOOTER-->
	</main>

<!-- jQuery -->
<script src="/js/jquery-1.11.1.min.js"></script>
<!-- bxSlider -->
<script src="/js/jquery.bxslider.min.js"></script>
<!-- magnificPopup -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<!-- Img Liquid -->
<script src="/js/imgLiquid-min.js"></script>
<!-- Tooltipster -->
<script src="/js/jquery.tooltipster.min.js"></script>
<!-- Main -->
<script src="/js/main.js"></script>
<!-- Validate -->
<script src="/js/main-validate.js"></script>
<!-- Contact -->
<script src="/js/contact.js"></script>
<!-- Subscribe -->
<script src="/js/subscribe.js"></script>
<!-- Google Maps API -->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<!-- Google Maps Config -->
<script src="/js/gmaps.js"></script>
<script>
$(function() {
	/*-----------------
		MAIN SLIDER
	-----------------*/
	$('.main-slider').bxSlider({
		pagerCustom: '.pager-container',
		controls: false,
		easing: 'ease-in',
		speed: 800,
		auto: true,
		pause: 6000
	});

	/*-------------
		VIDEO
	-------------*/
	$('#video .radial-progress').on('click', function() {
		$('#video > iframe').show();
	});

	/*----------------
		TOOLTIP
	----------------*/
	$('.tooltip').tooltipster({
		animation: 'grow',
		position: 'bottom'
	});

	/*-----------------
		RESIZE IMAGE
	-----------------*/
	$("figure.imgLiquidFill").imgLiquid();

	/*----------------
		IMAGE POPUP
	----------------*/
	$('ul.dishes > li > div > a').magnificPopup({
		type: 'image',
		removalDelay: 300,
		mainClass: 'mfp-fade',
		image: {
	    	tError: 'The image could not be loaded.'
	  	},
	  	closeMarkup: '<span class="mfp-close"></span>'
	});
});
</script>
</body>
</html>