<!--ABOUT-->
		<div id="about-wrap">
			<section id="about">
				<img src="images/title-detail.png" alt="title-detail">
				<h2>About Mozzarella</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<hr>
				<article>
					<h5>How did we Become <span>this Succesful</span></h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do re eiusmod diren tempor incidid ut labore et dolore magna porem ed ipsum dolor sit amet, do consectetur ut tempor magna. tem ipsum dolor sit amet, consectetur adipisicing elit, sed do re eiusmod diren tempor incididunt ut labore et dolore magna porem ed ipsum dolor sit amet, do consectetur ut tempor magna.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do re eiusmod diren tempor incididunt ut labore et dolore magna porem ed ipsum dolor sit amet, do consectetur ut tempor magna. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do re eiusmod diren tempor incididunt ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do re eiusmod diren tempor incididunt ut labore et dolore magna porem ed ipsum dolor sit amet, do consectetur ut tempor magna.</p>
					<ul>
						<li>Vintage Arcade Machines</li>
						<li>The Best 80's and 90's Music</li>
					</ul>
					<ul>
						<li>5 New Pool Tables</li>
						<li>Happy Hour until 2AM</li>
					</ul>
				</article>
				<img src="images/about-img.jpg" alt="about-img">
				<img src="images/quality-badge.png" alt="quality-badge">
			</section>
		</div>
		<!--/ABOUT-->