<!--CONTACT-->
		<div id="contact-wrap">
			<section id="contact">
				<img src="images/title-detail.png" alt="title-detail">
				<h2>Contact Us</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<hr>
				<form>
					<input type="text" id="name" name="name" placeholder="Write your full name here...">
					<input type="email" id="email" name="email" placeholder="Write your email adress here...">
					<textarea id="message" name="message" placeholder="Write your message here..."></textarea>
					<input type="submit" id="ctc" name="ctc" value="Send your Message">
				</form>
				<ul>
					<li>
						<a href="#" title="Facebook" class="tooltip">
							<img src="images/fb-icon.png" alt="face-icon">
						</a>
					</li>
					<li>
						<a href="#" title="Twitter" class="tooltip">
							<img src="images/twitter-icon.png" alt="twitter-icon">
						</a>
					</li>
					<li>
						<a href="#" title="Flickr" class="tooltip">
							<img src="images/flickr-icon.png" alt="flickr-icon">
						</a>
					</li>
					<li>
						<a href="#" title="Rss" class="tooltip">
							<img src="images/rss-icon.png" alt="rss-icon">
						</a>
					</li>
					<li>
						<a href="#" title="Vimeo" class="tooltip">
							<img src="images/vimeo-icon.png" alt="vimeo-icon">
						</a>
					</li>
				</ul>
			</section>
		</div>
		<!--/CONTACT-->