<!--SPECIALS-->
		<section id="specials">
			<img src="images/ivy.png" alt="ivy">
			<figure id="board">
				<img src="images/specials-title.png" alt="specials-title">
				<article>
					<!--SPECIAL ITEM-->
					<article>
						<h5>Mozzarella Cheeseburger</h5>
						<hr>
					</article>
					<p>$15.00</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor.</p>
					<!--/SPECIAL ITEM-->

					<!--SPECIAL ITEM-->
					<article>
						<h5>Dark Side Bacon Pizza</h5>
						<hr>
					</article>
					<p>$32.00</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor.</p>
					<!--/SPECIAL ITEM-->

					<!--SPECIAL ITEM-->
					<article>
						<h5>Meltdown Nachos</h5>
						<hr>
					</article>
					<p>$17.00</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor.</p>
					<!--/SPECIAL ITEM-->

					<!--SPECIAL ITEM-->
					<article>
						<h5>Golden Onion Rings</h5>
						<hr>
					</article>
					<p>$21.00</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor.</p>
					<!--/SPECIAL ITEM-->
				</article>		
			</figure>
		</section>
		<!--/SPECIALS-->