{% set specials = component.menuSpecialsNeo %}

<section id="specials">
	<img src="images/ivy.png" alt="ivy">
	<figure id="board">
		<img src="images/specials-title.png" alt="specials-title">
		<article>
			{% for block in specials %}
				{% switch block.type %}
					{% case "specialMenuItem" %}
						{% set specialTitle = block.menuItem.one().title %}
						{% set specialDescription = block.menuItem.one().description %}
						{% set specialPrice = block.specialPrice %}
					{% case "specialBespokeItem" %}
						{% set specialTitle = block.headline %}
						{% set specialDescription = block.description %}
						{% set specialPrice = block.specialPrice %}
					{% default %}
				{% endswitch %}
				<article>
					<h5>{{ specialTitle }}</h5>
					<hr>
				</article>
				<p>{{ specialPrice }}</p>
				<p>{{ specialDescription }}</p>
			{% endfor %}
		</article>		
	</figure>
</section>