<!--POPULAR DISHES-->
		<div id="popular-dishes-wrap">
			<section id="popular-dishes">
				<img src="images/title-detail.png" alt="title-detail">
				<h2>Popular Dishes</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<hr>
				<ul class="dishes">
					<!--DISH-->
					<li>
						<div>
							<img src="images/menu/menu_photo.png" alt="menu-dish">
							<a href="images/menu/full_size.png">
								<div>
									<img src="images/plus-icon.png" alt="plus-icon">
									<p>Click to enlarge</p>
								</div>
							</a>
						</div>
						<img src="images/menu-cat1.png" alt="burger item">
						<h5>Mozzarella Cheeseburger</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor.</p>
						<p>$15.00</p>
					</li>
					<!--/DISH-->

					<!--DISH-->
					<li>
						<div>
							<img src="images/menu/menu_photo.png" alt="menu-dish">
							<a href="images/menu/full_size.png">
								<div>
									<img src="images/plus-icon.png" alt="plus-icon">
									<p>Click to enlarge</p>
								</div>
							</a>
						</div>
						<img src="images/menu-cat2.png" alt="burger item">
						<h5>Barbeque Steak Strips</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor.</p>
						<p>$35.00</p>
					</li>
					<!--/DISH-->

					<!--DISH-->
					<li>
						<div>
							<img src="images/menu/menu_photo.png" alt="menu-dish">
							<a href="images/menu/full_size.png">
								<div>
									<img src="images/plus-icon.png" alt="plus-icon">
									<p>Click to enlarge</p>
								</div>
							</a>
						</div>
						<img src="images/menu-cat1.png" alt="burger item">
						<h5>Golden Onion Rings</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor.</p>
						<p>$21.00</p>
					</li>
					<!--/DISH-->

					<!--DISH-->
					<li>
						<div>
							<img src="images/menu/menu_photo.png" alt="menu-dish">
							<a href="images/menu/full_size.png">
								<div>
									<img src="images/plus-icon.png" alt="plus-icon">
									<p>Click to enlarge</p>
								</div>
							</a>
						</div>
						<img src="images/menu-cat1.png" alt="burger item">
						<h5>Meltdown Nachos</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor.</p>
						<p>$17.00</p>
					</li>
					<!--/DISH-->

					<!--DISH-->
					<li>
						<div>
							<img src="images/menu/menu_photo.png" alt="menu-dish">
							<a href="images/menu/full_size.png">
								<div>
									<img src="images/plus-icon.png" alt="plus-icon">
									<p>Click to enlarge</p>
								</div>
							</a>
						</div>
						<img src="images/menu-cat4.png" alt="burger item">
						<h5>Wild Veggies Sandwich</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor.</p>
						<p>$15.00</p>
					</li>
					<!--/DISH-->

					<!--DISH-->
					<li>
						<div>
							<img src="images/menu/menu_photo.png" alt="menu-dish">
							<a href="images/menu/full_size.png">
								<div>
									<img src="images/plus-icon.png" alt="plus-icon">
									<p>Click to enlarge</p>
								</div>
							</a>
						</div>
						<img src="images/menu-cat3.png" alt="burger item">
						<h5>Garlic Capresse Pizza</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor.</p>
						<p>$43.00</p>
					</li>
					<!--/DISH-->

					<!--DISH-->
					<li>
						<div>
							<img src="images/menu/menu_photo.png" alt="menu-dish">
							<a href="images/menu/full_size.png">
								<div>
									<img src="images/plus-icon.png" alt="plus-icon">
									<p>Click to enlarge</p>
								</div>
							</a>
						</div>
						<img src="images/menu-cat2.png" alt="burger item">
						<h5>Charcoal Chicken Wings</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor.</p>
						<p>$18.00</p>
					</li>
					<!--/DISH-->

					<!--DISH-->
					<li>
						<div>
							<img src="images/menu/menu_photo.png" alt="menu-dish">
							<a href="images/menu/full_size.png">
								<div>
									<img src="images/plus-icon.png" alt="plus-icon">
									<p>Click to enlarge</p>
								</div>
							</a>
						</div>
						<img src="images/menu-cat4.png" alt="burger item">
						<h5>The Volcano Sandwich</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor.</p>
						<p>$12.00</p>
					</li>
					<!--/DISH-->
				</ul>
			</section>
		</div>
		<!--/POPULAR DISHES-->