<!--REVIEWS-->
		<div id="reviews-wrap">
			<section id="reviews">
				<img src="images/title-detail.png" alt="title-detail">
				<h2>Customer Reviews</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<hr>
				<ul>
					<!--REVIEW-->
					<li>
						<article>
							<div class="circle tiny">
								<figure class="imgLiquidFill">
								<img src="images/customer-1.png" alt="customer">
								</figure>
							</div>
							<ul>
								<li><img src="images/star-icon.png" alt="star"></li>
								<li><img src="images/star-icon.png" alt="star"></li>
								<li><img src="images/star-icon.png" alt="star"></li>
								<li><img src="images/star-icon.png" alt="star"></li>
								<li><img src="images/star-empty-icon.png" alt="star-empty"></li>
							</ul>
							<h5>James D.</h5>
							<p>25 Years</p>
						</article>
						<article class="quote">
							<img src="images/quote-left.png" alt="quote left">
							<img src="images/quote-right.png" alt="quote right">
							<img src="images/quote-triangle.png" alt="quote triangle">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, enu sede do re eiusmod diren tempor incididunt ut labore etorn dolore eu <span>magna porem</span> ed ipsum dolor sit amet, do lorem consectetur utend tempor magna. Lorem ipsum dolor sit amet, consectetur elar adipisicing elit.</p>
						</article>
					</li>
					<!--/REVIEW-->

					<!--REVIEW-->
					<li>
						<article>
							<div class="circle tiny">
								<figure class="imgLiquidFill">
								<img src="images/customer-2.png" alt="customer">
								</figure>
							</div>
							<ul>
								<li><img src="images/star-icon.png" alt="star"></li>
								<li><img src="images/star-icon.png" alt="star"></li>
								<li><img src="images/star-icon.png" alt="star"></li>
								<li><img src="images/star-icon.png" alt="star"></li>
								<li><img src="images/star-icon.png" alt="star-empty"></li>
							</ul>
							<h5>Laura B.</h5>
							<p>27 Years</p>
						</article>
						<article class="quote">
							<img src="images/quote-left.png" alt="quote left">
							<img src="images/quote-right.png" alt="quote right">
							<img src="images/quote-triangle.png" alt="quote triangle">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, enu sede do re eiusmod diren tempor.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, enu sede do re eiusmod diren tempor incididunt ut labore etorn dolore eu <span>magna porem</span> ed ipsum dolor.</p>
						</article>
					</li>
					<!--/REVIEW-->

					<!--REVIEW-->
					<li>
						<article>
							<div class="circle tiny">
								<figure class="imgLiquidFill">
								<img src="images/customer-3.png" alt="customer">
								</figure>
							</div>
							<ul>
								<li><img src="images/star-icon.png" alt="star"></li>
								<li><img src="images/star-icon.png" alt="star"></li>
								<li><img src="images/star-icon.png" alt="star"></li>
								<li><img src="images/star-icon.png" alt="star"></li>
								<li><img src="images/star-icon.png" alt="star-empty"></li>
							</ul>
							<h5>Sarah H.</h5>
							<p>22 Years</p>
						</article>
						<article class="quote">
							<img src="images/quote-left.png" alt="quote left">
							<img src="images/quote-right.png" alt="quote right">
							<img src="images/quote-triangle.png" alt="quote triangle">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, enu sede do re eiusmod diren tempor <span>incididunt</span> ut labore etorn dolore eu magna porem ed ipsum dolor sit amet, do lorem consectetur utend tempor magna.</p>
						</article>
					</li>
					<!--/REVIEW-->

					<!--REVIEW-->
					<li>
						<article>
							<div class="circle tiny">
								<figure class="imgLiquidFill">
								<img src="images/customer-4.png" alt="customer">
								</figure>
							</div>
							<ul>
								<li><img src="images/star-icon.png" alt="star"></li>
								<li><img src="images/star-icon.png" alt="star"></li>
								<li><img src="images/star-icon.png" alt="star"></li>
								<li><img src="images/star-icon.png" alt="star"></li>
								<li><img src="images/star-empty-icon.png" alt="star-empty"></li>
							</ul>
							<h5>Jack S.</h5>
							<p>22 Years</p>
						</article>
						<article class="quote">
							<img src="images/quote-left.png" alt="quote left">
							<img src="images/quote-right.png" alt="quote right">
							<img src="images/quote-triangle.png" alt="quote triangle">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, enu sede do re eiusmod diren tempor incididunt ut labore etorn dolore eu <span>magna porem</span> ed ipsum dolor sit amet, do lorem consectetur utend tempor magna. Lorem ipsum dolor sit amet, consectetur elar adipisicing elit.</p>
						</article>
					</li>
					<!--/REVIEW-->
				</ul>
			</section>	
		</div>
		<!--/REVIEWS-->